<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Verify your account</title>
</head>
<body>
  <h1>Welcome to Our Platform!</h1>
  <p>To verify your account, click on the link below:</p>
  <a href="{{verificationUrl}}">Verify Account</a>
</body>
</html>
